<h1 class="text-light">Leaderboard</h1>
<table class="table leaderboard">
  <thead>
    <tr>
      <th class="py-2 text-light">Rank</th>
      <th class="py-2 text-light">Name</th>
      <th class="py-2 text-light">Time Left</th>
    </tr>
  </thead>
  <tbody>
    <% users.forEach((user, index) => { %>
    <tr>
      <td class="py-2 text-light"><%= index + 1 %>.</td>
      <td class="py-2 text-light"><%= user.name %></td>
      <td class="py-2 text-light"><%= user.seconds_left %> seconds</td>
    </tr>
    <% }) %>
  </tbody>
</table>
