<div
  class="modal fade"
  id="my-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">
          Congratulations! You have won.
        </h4>
      </div>
      <div class="modal-body d-flex flex-column">
        <label for="name">Enter your name</label>
        <input id="name" type="text" class="form-control mt-4" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary name-button">
          Save your score
        </button>
      </div>
    </div>
  </div>
</div>
