@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

body{
    background-image: url('../images/background.svg');
    background-position: center bottom;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

.flag-wrapper{
    border: 5px solid black;   

}

.flag{
    object-fit: cover;
    width: 220px;
    height: 150px;
    border-radius: 0.6rem;
}

.entire-quiz-container{
    transform: translateY(-50px);
}

.quiz-question-container  {
    display: grid;
    gap: 15px;
}

.right-container{
    border: 10px;
}   

.question-wrapper{
    border: 5px solid black;
    border-radius: 1rem;
    width: 220px;
    background-color: rgb(255,255,255,0.8);
}

.box{
    border-radius: 1rem;
    transition-duration: 150ms;
}

.box:hover{
    cursor: pointer;
    box-shadow: 0 0 0 5px rgb(228, 64, 214);
}

.title-container{
    padding: 15px;
    border: 5px solid black;
    border-radius: 15px;
    background-color: white;
}

.timer{
    font-family: 'Orbitron', sans-serif;
}

/* responsive styles */
@media (max-width: 768px) {
    .entire-quiz-container {
        transform: translateY(50px);
    }

    .leaderboard-container {
        display: none;
    }

    .flag {
        width: 120px;
        height: 100px;
    }

    .question-wrapper {
        width: 120px;
        height: 100px;
        font-size: 65%;
    }
}
